body {
    background-color: #1c87c9;
  }
.rectangle{
    height: 400px;
  width: 50%;
  background-color: rgb(207, 230, 176);
  border:1px solid black;
  border-style: dashed;
  margin:auto;
    
}
.wantedline{
    font-family: Gothic;
    font-size: 25px;;
    text-align: center;
}
.pic{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.lowerline{
    font-family: arial;
    font-size: 30px;
    text-align: center;

}